:root{
    --back-prime:rgb(0, 0, 0);
    --back-second:rgb(27, 27, 27);
    --border:rgb(68, 68, 68);
    --font:'Poppins', sans-serif;
}
body{
    margin: 0;
    background-color: var(--back-prime);
}
nav{
    margin: 10px;
    background-color:var(--back-second) ;
    border-radius: 10px;
    width: 250px;
    height: calc(100vh - 20px);
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    padding: 30px;
    padding-top: 0px;
    text-align: center;
}
.search{
    width: calc(100vw - 300px);
    height: 60px;
    border-bottom: 1px solid var(--border);
    margin: 0px 20px;
    padding: 7px 0px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;

}
.search > i{
    color: var(--border);
    font-size: 20px;
    margin: auto 10px;
    line-height: 7px;
}
.search_input{
    height: 100%;
    background-color: transparent;
    outline: none;
    width: 65%;
    border: none;
    font-family: var(--font);
    color: white;
    font-size: 15px;
}
.logo{
    width:90%;
    margin-left: -20px;
    padding: 20px 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border);
    padding-left: -10px;
}
.nav_option{
    display: flex;
    flex-direction: column;
    text-align: left;
}
h2{
    color: white;
    font-family: var(--font);
    letter-spacing: 1px;
    text-align: left;
    font-size: 25px;
    margin: 7px;
    margin-left: 0%;
    font-weight: 600;
}
.options{
    background-color: transparent;
    color:rgb(193, 193, 193);
    outline: 0;
    border: none;
    font-family: var(--font);
    text-align: left;
    margin: 5px 0px;
    font-weight: 400;
}
.options > i{
    margin-right: 5px;
}
.profile{
    display: block;
    width: fit-content;
    height: 50px;
    float: right;
    margin: auto 0px;
    display: flex;
    flex-direction: row;
    font-family: var(--font);
}
.profile_img{
    width: 50px;
    height: fit-content;
    border-radius:100% ;
    margin-right: 10px;
    
}
h3{
    color: whitesmoke;
    margin:0cap;
    font-size: 20px;
    font-weight: 400;
    text-wrap:nowrap
}
p{
    margin: 0pc;
    font-size: 12px;
    color: gray;
}
.notification{
    background-color: transparent;
    border: none;
    outline: none;
    color: grey;
    font-size: 22px;
    padding: 0px 20px;
    border-right: 1px solid var(--border);
    margin-right: 20px;
}
.dashboard{
    position: absolute;
    width: calc(100vw - 280px);
    height: calc(100vh - 100px);
    background-color: var(--back-prime);
    right: 10px;
    top:90px;
    border-radius: 10px;
    font-family: var(--font);
    display: grid;
    overflow: hidden;
    grid-template-areas: 
    'attendance attendance attendance semester internal internal'
    'attendance attendance attendance semester internal internal'
    'sgpa assignment assignment semester internal internal'
    'bulletin bulletin bulletin event event event'
    'bulletin bulletin bulletin event event event'
    'bulletin bulletin bulletin event event event'
    ;
    gap: 10px;
}
.attendance{
    grid-area: attendance;
    background-color: var(--back-second);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.sgpa{
    grid-area: sgpa;
    background-color: var(--back-second);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.Assignment_status{
    grid-area: assignment;
    background-color: var(--back-second);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.internal_score{
    grid-area: internal;
    background-color: var(--back-second);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.semester{
    grid-area: semester;
    background-color: var(--back-second);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.bulletin{
    grid-area: bulletin;
    background-color: var(--back-second);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}
.event{
    grid-area: event;
    background-color: var(--back-second);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
}